/**
 * MIT License
 *
 * Copyright (c) 2022-2023 Agence du Numérique en Santé
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
.login-pf body {
    background-image: none;
    background-color: #ffffff;
    background-size: cover;
    height: 100%;
}

.login-pf-page {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-error {
    background-color: #ffffff;
    border-color: #cc0000;
    color: #333333;
}

a#kc-current-locale-link {
    display: block;
    padding: 0 5px;
}

/* a#kc-current-locale-link:hover {
    background-color: rgba(0,0,0,0.2);
} */

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

.login-pf .container {
    padding-top: 40px;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}


#kc-header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.kc-logo-text {
    margin: 0 auto;
    color: #000;
}

div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #ededed;
    overflow: visible;
    white-space: nowrap;
}

#kc-content {
    width: 100%;
    position: relative;
}

#kc-info {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}

#kc-info-wrapper {
    margin: 10px;
    overflow: auto;
}

#kc-form-options span {
    display: block;
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: #72767b;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 15px;
}

/* TOTP */

ol#kc-totp-settings {
    margin: 0;
    padding-left: 20px;
}

ul#kc-totp-supported-apps {
  margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
    max-width:150px;
    max-height:150px;
}

#kc-totp-secret-key {
    background-color: #fff;
    color: #333333;
    font-size: 16px;
    padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */

#kc-social-providers ul {
    padding: 0;
}

#kc-social-providers li {
    display: block;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.zocial,
a.zocial  {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    border: 0;
    background: #f5f5f5;
    color: #72767b;
    border-radius: 0;
    white-space: normal;
}
.zocial:before {
  border-right: 0;
  margin-right: 0;
}
.zocial span:before {
    padding: 7px 10px;
    font-size: 14px;
}
.zocial:hover {
    background: #ededed !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border: 0;

    box-shadow: none;
    text-shadow: none;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft:before{ content: "\f15d"; }
.zocial.stackoverflow:before{ color: inherit; }




.login-pf-page .login-pf-social-link {
  margin-bottom: 25px;
}
.login-pf-page .login-pf-social-link a {
  padding: 2px 0;
}

.login-pf-page.login-pf-page-accounts {
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page .btn-primary {
    margin-top: 0;
}

.kc-page-title{
    font-weight: bolder;
}

a#social-psc span {
    display:none;
}

ul.kc-social-links>li {
	display: contents;
}

.kc-social-section{
    border: none !important;
}

.login-pf-page {
    font-size: 15px;
    color: #72767b;
}

#kc-content-wrapper .row {
    margin-left: 0;
    margin-right: 0;
}


/*____________________________________________________________________________________________*/
/*____________________________________________________________________________________________*/
/*____________________________________________________________________________________________*/
/*____________________________________________________________________________________________*/
/*____________________________________________________________________________________________*/
/*____________________________________________________________________________________________*/
/*TOOBIB THEME*/                /*TOOBIB THEME*/        /*TOOBIB THEME*/        /*TOOBIB THEME*/
/*TOOBIB THEME*/                /*TOOBIB THEME*/        /*TOOBIB THEME*/        /*TOOBIB THEME*/
/*TOOBIB THEME*/                /*TOOBIB THEME*/        /*TOOBIB THEME*/        /*TOOBIB THEME*/
/*TOOBIB THEME*/                /*TOOBIB THEME*/        /*TOOBIB THEME*/        /*TOOBIB THEME*/
/*TOOBIB THEME*/                /*TOOBIB THEME*/        /*TOOBIB THEME*/        /*TOOBIB THEME*/
/*____________________________________________________________________________________________*/
/*____________________________________________________________________________________________*/
/*____________________________________________________________________________________________*/
/*____________________________________________________________________________________________*/
/*____________________________________________________________________________________________*/
/*____________________________________________________________________________________________*/


.card-pf {
    background: #fff;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;  /* Utilisez 100% pour la fluidité jusqu'à la largeur maximale */
    max-width: 500px;  /* Limite la largeur maximale pour les grands écrans */
    border: 6px solid #004379;
    border-radius: 4px;
}

#kc-header-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

/*BUTTONS*/
/*BUTTONS*/
/*BUTTONS*/
/*BUTTONS*/
/*BUTTONS*/

a#social-psc {
    background: url(../img/ProSanteConnect_BLEU.png) no-repeat center center;
    background-size: 224px 100%;
    height: 56px;
}

a#social-psc:hover {
    background: url(../img/ProSanteConnect_COULEURS.png) no-repeat center center;
    background-size: 224px 100%;
    height: 56px;
}

.pf-c-button.pf-m-control {
    border: none;
    --pf-c-button--after--BorderColor: rgba(255, 255, 255, 0);
}

.pf-m-primary {
    box-shadow: 2px 2px 5px dimgrey;
}

.btn-lg {
    background-color: RGB(0, 67, 121);
    color: white;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: bold;
    border: none;
    outline: none;

}

.cancelButton {
    box-shadow: 2px 2px 5px dimgrey;
    background-color: RGB(220, 20, 60);
    color: white;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: bold;
    border: none;
    outline: none;
}

#kc-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

/*DROPDOWN MENU*/
/*DROPDOWN MENU*/
/*DROPDOWN MENU*/
/*DROPDOWN MENU*/
/*DROPDOWN MENU*/

.localeDropdown {
    margin-top: 50px;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

#kc-locale #kc-current-locale-link {
    font-weight: bold;
}

#localeListCenter {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}


#kc-locale ul {
    font-weight: bold;
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 0;
    top: 20px;
    min-width: 100px;
    padding: 2px 0;
    border: solid 1px #bbb;
}

#kc-locale:hover ul {
    font-weight: bold;
    display: block;
    margin: 0;
}

/*PASSWORD VISIBILITY ICON*/
/*PASSWORD VISIBILITY ICON*/
/*PASSWORD VISIBILITY ICON*/
/*PASSWORD VISIBILITY ICON*/
/*PASSWORD VISIBILITY ICON*/

.kc-input-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.kc-form-password-visibility-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
}

.kc-input {
    width: 100%;
    padding-right: 50px;
}

/* Style pour l'icône à l'intérieur du bouton */
.kc-form-password-visibility-button i {
    color: #666;
}

/*RESPONSIVE UTILITY*/
/*RESPONSIVE UTILITY*/
/*RESPONSIVE UTILITY*/
/*RESPONSIVE UTILITY*/
/*RESPONSIVE UTILITY*/

@media (max-width: 767px) {

    .login-pf-signup {
        background-color: #fff;
        padding: 20px;
        overflow: hidden;
    }

    #kc-info-wrapper {
        margin: 10px;
        overflow: auto;
    }

    .card-pf {
        padding: 0 5px;
        border: none;
    }

    #localeDropdown {
        width: 100%;
        position: relative;
        margin-top: 50px;
        display: flex;
        padding-top: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-weight: bold;
        box-sizing: border-box;
    }

    #kc-locale {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: none;

    }

    #kc-locale-wrapper {
        padding: 0;
    }

    #kc-header-wrapper {
        flex-direction: column;
        padding: 10px 0;
    }

    #kc-locale, #kc-locale-wrapper, #kc-locale-dropdown {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}